nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav ul {
  display: flex;
  gap: 2.5rem;
  list-style: none;
  margin: 0;
  padding: 1.2rem 3rem;
  background:none;
  backdrop-filter: blur(10px);
  margin-right: 1.5rem;
  margin-top: 1rem;
  border-radius: 999px;
}

nav ul li {
  font-size: 0.85rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  background: linear-gradient(135deg, #ffffff, #86bcc0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  cursor: pointer;
  position: relative;
  padding-bottom: 4px;
  transition: color 0.3s ease;
}

nav ul li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: #ffffff;
  transition: width 0.3s ease;
}

nav ul li:hover {
  color: #ffffff;
}

nav ul li:hover::after {
  width: 100%;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
}