.weddings {
  padding: 4rem 3rem;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.weddings-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.weddings-section hr {
  border: none;
  width: 40px;
  height: 1px;
  background: linear-gradient(135deg, #ffffff, #86bcc0);
  animation: Pulse 5s ease infinite;
}
@keyframes Pulse {
  0%, 100% { opacity: 0.3; width: 40px; }
  50%       { opacity: 1; width: 99%; }
}

@keyframes appear {
  0%  { 
       opacity: 0;
       transform: scale(1.03); 
      }
  100% {
        transform:scale(1);
        opacity: 1;
        }
}

/*Ceremony section*/
.ceremony-card-1{
  background-image: url('../../assets/ceremony/ceremony1.jpg');
  background-size:cover;
  animation: appear 1.5s cubic-bezier(0.34, 2.8, 0.64, 1) forwards;
  animation-delay: 0.8s;
  opacity: 0;
}

.ceremony-card-2{
  background-image: url('../../assets/ceremony/ceremony2.jpg');
  background-size:cover;
  background-position: center 80%;
  animation: appear 1.5s cubic-bezier(0.34, 2.8, 0.64, 1) forwards;
  animation-delay: 0.4s;
  opacity: 0;
}

.ceremony-card-3{
  background-image: url('../../assets/ceremony/ceremony3.jpg');
  background-size:cover;
  background-position: center 80%;
  animation: appear 1.5s cubic-bezier(0.34, 2.8, 0.64, 1) forwards;
  opacity: 0;
}


/*Reception section*/
.reception-card-1{
  background-image: url('../../assets/reception/reception1.png');
  background-size:cover;
  background-position: center 80%;
}

.reception-card-2{
  background-image: url('../../assets/reception/reception2.png');
  background-size:cover;
  background-position: center 80%;
}

.reception-card-3{
  background-image: url('../../assets/reception/reception3.jpg');
  background-size:cover;
  background-position: center 80%;
}

/*Potraits section*/
.potraits-card-1{
  background-image: url('../../assets/potrait/portrait1.png');
  background-size:cover;
}

.potraits-card-2{
  background-image: url('../../assets/potrait/portrait2.png');
  background-size:cover;
  background-position: center 80%;
}

.potraits-card-3{
  background-image: url('../../assets/potrait/portrait3.png');
  background-size:cover;
}
